.btnPrimary {

    outline: none;
    position: relative;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 12px;
    border: none;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;

    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    background: radial-gradient(ellipse at -20px top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)),
      rgba(40, 40, 40, 0.8);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.5), 0px 40px 11px rgba(0, 0, 0, 0.01), 0px 26px 10px rgba(
        0,
        0,
        0,
        0.025
      ), 0px 14px 9px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .btnPrimary::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    border: 1.5px solid transparent;
    mask: linear-gradient(black, black) padding-box, linear-gradient(black, black);
    mask-composite: exclude;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.75),
        rgba(0, 0, 0, 0.48) 41%,
        rgba(0, 0, 0, 0.26) 75%,
        rgba(255, 255, 255, 0.25)
      )
      border-box;
    mix-blend-mode: overlay;
  }


  .btnPrimary:active {
    translate: 0 1px;
  }
